<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="MonitorUrl" value="http://localhost:91/admin/,http://127.0.0.1:91/admin/,http://192.168.1.100:91/admin/"/>
    <!--网页名称-->
    <add key="webName" value="xxxx" />
    <!--网页链接-->
    <add key="webUrl" value="http://localhost:91/admin/main.aspx" />
    <!--地图源链接-->
    <add key="mapSourceLink" value="" />
    <!--备注-->
    <add key="comment" value="备注" />
    <!--网站监测时间-->
    <add key="webTimeInterval" value="time ms:300000" />
    <!--地图源监测时间-->
    <add key="mapTimeInterval" value="30000" />
    <!--邮箱类型-->
    <add key="host" value="email type like:smtp.163.com" />
    <!--发送者 邮箱的账号-->
    <add key="emailAddress" value="your email" />
    <!--发送者 邮箱的自定义名称-->
    <add key="emailName" value="email type" />
    <!--发生者 邮箱的秘钥，不是密码-->
    <add key="emailPs" value="password for app to use email ,no login password" />
    <!--接收者 邮箱账号-->
    <add key="toAddress" value="email" />
    <!--,276424519@qq.com-->
    <!--邮件主题-->
    <add key="MessageSubject" value="subject" />
    <!--邮件正文内容-->
    <add key="MessageBody" value="content" />
    <!--存储黑名单文件路径-->
    <add key="blackPath" value="C:\ssmapMonitor\black" />
    <!--黑名单文件名-->
    <add key="blackFileName" value="blackList" />
    <!--存储日志文件路径-->
    <add key="logPath" value="C:\ssmapMonitor\errorLog" />
    <!--日志文件名-->
    <add key="logFileName" value="ssmapMonitorLog" />
    <!--访问日志文件路径-->
    <add key="visitLogPath" value="C:\ssmapMonitor\visitLog" />
    <!--日志文件名-->
    <add key="visitFileName" value="visitLog" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>